#questionCount {
    text-align: left; /* 右揃えに設定 */
    margin-right: 20px; /* 右側のマージンを設定 */
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#content p {
    margin: 20px;
    font-size: 20px;
}

#rating {
    margin-top: 20px;
}

#initialForm {
    text-align: center;
    margin-top: 20px;
}

#initialForm label, #initialForm input, #initialForm select {
    margin: 10px;
}

/* 以下にレスポンシブデザインのためのスタイルを追加 */
@media (max-width: 600px) {
    body, #initialForm, #experimentDescription, #textDisplay, #formalityRating, #impactRating, #experimentEnd {
        text-align: left;
        padding: 10px;
    }

    #content p {
        font-size: 16px; /* 小さな画面用の文字サイズを調整 */
        margin: 10px; /* マージンの調整 */
    }

    #initialForm label, #initialForm input, #initialForm select {
        margin: 5px; /* 小さな画面用のマージンを調整 */
    }

    img {
        width: 100%; /* 画像が画面幅に合わせてリサイズされるように設定 */
        height: auto;
    }
}

.class1 {
    display: block;
    margin: auto;
}

#progressBar {
    width: 100%;
    background-color: #e0e0e0; /* バーの背景色 */
    border-radius: 10px; /* 角の丸み */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* 影の効果 */
    margin: 20px 0; /* 余白 */
}

#progressBar span {
    display: block;
    height: 20px;
    border-radius: 10px; /* 角の丸み */
    background-color: #4caf50; /* バーの色 */
    text-align: center;
    line-height: 20px;
    color: white; /* テキストの色 */
    transition: width 0.4s ease-in-out; /* アニメーションの効果 */
}
